<div class="max-w-full overflow-auto">
  <div>
    <span *ngIf="showExample"><span>Truy Vấn Mẫu</span>&nbsp;<span class="bg-white text-black">classId==119861,termId==20201</span></span>
    <table class="w-full">
      <tr>
        <td class="w-[70px] text-center"><span>Truy Vấn</span></td>
        <td><input class="w-full" type="text" [(ngModel)]="q" (change)="onQueryChange()"></td>
        <td class="w-[70px] text-center"><button class="w-full" (click)="search()">Tìm Kiếm</button></td>
      </tr>
    </table>
  </div>
  <div class="flex">
    <table class="">
      <tr>
        <td>Phân Trang</td>
        <td><button class="" (click)="prevPage()">&lt;&lt;&lt;</button></td>
        <td><input type="number" class="w-[50px] text-center" min="0" [(ngModel)]="page" (change)="onQueryChange()"></td>
        <td><button class="" (click)="nextPage()">&gt;&gt;&gt;</button></td>
        <td>Số Lượng</td>
        <td><input type="number" max="20" min="0" class="w-[50px] text-center" [(ngModel)]="size" (change)="onQueryChange()"></td>
      </tr>
    </table>
  </div>
  <table class="w-full" (classClickedEvent)="onClassClickedEvent($event)" app-class-to-register-table [classes]="classes" [showIdColumn]="showIdColumn" [showQueryKeys]="showQueryKeys">
  </table>
</div>