/* You can add global styles to this file, and also import other style files */
// @tailwind base;
@tailwind components;
@tailwind utilities;

$neon-color: rgb(30, 255, 0);
$dark-neon-color: rgb(17, 145, 0);

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: whitesmoke;
}

td {
  background-color: white;
  color: black;
}

input {
  border: none;
}

body,
input,
button,
select {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.ObjectId {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.neon {
  color: $neon-color;
}