<div>
  <table>
    <tr>
      <td>_id</td>
      <td>Kỳ Học</td>
      <td>Mã Học Phần Mong Muốn</td>
      <td></td>
    </tr>
    <tr *ngFor="let p of preferences" app-preference-row [preference]="p"></tr>
    <tr *ngIf="showAddSection()">
      <td></td>
      <td>{{termId}}</td>
      <td>
        <table>
          <tr *ngFor="let subjectId of newWantedSubjectIds">
            <td class="border border-solid border-black">{{subjectId}}</td>
            <td class=""><fa-icon class="p-1 bg-black flex items-center" [styles]="{'stroke': '#1eff00', 'color': '#1eff00'}" [icon]="faMinus" (click)="onRemoveNewSubjectId(subjectId)"></fa-icon></td>
          </tr>
          <tr>
            <td class="border border-solid border-black"><input type="text" [(ngModel)]="newSubjectId" (keypress)="onKeyPressNewSubjectId($event)"></td>
            <td class=""><fa-icon class="p-1 bg-black flex items-center" [styles]="{'stroke': '#1eff00', 'color': '#1eff00'}" [icon]="faPlus" (click)="onAddNewSubjectId()"></fa-icon></td>
          </tr>
        </table>
      </td>
      <td><button (click)="addPreference()">Tạo Mới</button></td>
    </tr>
  </table>
</div>