<div>
  <table>
    <tr>
      <td class="w-1/2 text-center">username</td>
      <td class="w-1/2"><input [(ngModel)]="username" (keypress)="onKeyPress($event)" class="w-full" type="text"></td>
    </tr>
    <tr>
      <td class="w-1/2 text-center">password</td>
      <td class="w-1/2"><input [(ngModel)]="password" (keypress)="onKeyPress($event)" class="w-full" type="password"></td>
    </tr>
    <tr>
      <td colspan="2"><button class="w-full" (click)="login()">Đăng Nhập</button></td>
    </tr>
  </table>
</div>