<td *ngIf="showTermId">{{job?.termId}}</td>
<td *ngIf="showId" class="ObjectId">{{job?._id}}</td>
<td>{{job?.username}}</td>
<td>
  <div class="flex items-center justify-between">
    <div class="flex items-center mr-1"><span>{{job?.password | password: showPassword}}</span></div>
    <div class="flex items-center"><fa-icon class="flex items-center" (click)="toggleShowPassword()" [icon]="showPassword ? faEye: faEyeSlash"></fa-icon></div>
  </div>
</td>
<td *ngIf="job?.termId; else default">
  <span class="classId mr-1" *ngFor="let classId of job?.classIds">
    <a [routerLink]="['/term-ids', job?.termId, 'search-class-to-register']" [queryParams]="{q: 'classId==' + classId}">{{classId}}</a>
  </span>
</td>
<ng-template #default>
  <td>
    <span class="classId mr-1" *ngFor="let classId of job?.classIds">{{classId}}</span>
  </td>
</ng-template>
<td *ngIf="showTimeToStart">{{job?.timeToStart | date:'dd-MM-YYYY HH:mm:ss'}}</td>
<td>{{job?.originTimeToStart | date:'dd-MM-YYYY HH:mm:ss'}}</td>
<td>{{job?.createdAt | date:'dd-MM-YYYY HH:mm:ss'}}</td>
<td>{{job?.status | JobStatus}}</td>
<td><a [routerLink]="[job?._id]" routerLinkActive="active" ariaCurrentWhenActive="page">Chi Tiết</a></td>
<td><button class="px-1" [disabled]="!isCancelable()" (click)="onCancelJob()">Hủy</button></td>
<td><button class="px-1" [disabled]="!isRetryable()" (click)="onRetryJob()">Thử Lại</button></td>