<div>
  <input #input hidden class="w-full" type="file" (change)="onFileSelected($event)">
  <table>
    <tr>
      <td><div><span>Nhấp</span>&nbsp;<a href="javascript:void(0)" (click)="onSelectFile()">vào đây</a>&nbsp;<span>để chọn file</span></div></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <div class="min-h-[100px] min-w-[200px] w-full" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
          <div>
            <div><span>Hoặc kéo thả vào đây</span></div>
          </div>
          <table>
            <tr *ngFor="let f of files">
              <td class="border border-solid border-black"><span>{{f.name}}</span></td>
              <td><fa-icon class="p-1 bg-black flex items-center" [styles]="{'stroke': 'red', 'color': 'red'}" [icon]="faMinus" (click)="removeSelectedFile(f)"></fa-icon></td>
            </tr>
          </table>
        </div>
      </td>
      <td><button class="py-1 mx-1" (click)="upload()">UPLOAD</button></td>
    </tr>
  </table>
</div>