<div>
  <table>
    <tr>
      <td>_id</td>
      <td class="ObjectId"><span>{{job?._id}}</span></td>
    </tr>
    <tr>
      <td>username</td>
      <td><span>{{job?.username}}</span></td>
    </tr>
    <tr>
      <td><span class="mr-1">password</span><fa-icon [icon]="faEye" (click)="toggleShowPassword()"></fa-icon></td>
      <td><span>{{job?.password | password: showPassword}}</span></td>
    </tr>
    <tr>
      <td>Danh Sách Mã Lớp</td>
      <td>
        <span class="classId mr-1" *ngFor="let classId of job?.classIds"><a [routerLink]="['/term-ids', job?.termId, 'search-class-to-register' ]" [queryParams]="{q: 'classId==' + classId}">{{classId}}</a></span>
      </td>
    </tr>
    <tr>
      <td>Hẹn Giờ</td>
      <td><span>{{job?.timeToStart | date:'dd-MM-YYYY hh:mm:ss'}}</span></td>
    </tr>
    <tr>
      <td>Thời Gian Tạo</td>
      <td><span>{{job?.createdAt | date:'dd-MM-YYYY hh:mm:ss'}}</span></td>
    </tr>
    <tr>
      <td>Trạng Thái</td>
      <td><span>{{job?.status | JobStatus}}</span></td>
    </tr>
  </table>
  <div *ngFor="let l of logs; let i = index">
    <div><h2>Lần thứ {{i+1}}</h2></div>
    <div app-job-logs [id]="id" [logs]="l.logs"></div>
  </div>
  <div *ngFor="let result of results; let i = index">
    <div class="flex"><h2>Lần thứ {{i+1}}</h2><div class="flex items-center ml-1"><span>({{result.createdAt | date: "yyyy-MM-dd hh:mm:ss"}})</span></div></div>
    <div app-job-v1-result [job]="job" [id]="id" [result]="result"></div>
  </div>
</div>