<div>
  <table>
    <tr>
      <td>Kỳ Học</td>
      <td *ngIf="showId">_id</td>
      <td>username</td>
      <td>
        <div class="flex items-center justify-between">
          <span>password</span>
          <fa-icon [icon]="showPassword ? faEye: faEyeSlash" (click)="toggleShowPassword()"></fa-icon>
        </div>
      </td>
      <td>Danh Sách Mã Lớp</td>
      <td>Hẹn Giờ</td>
      <td *ngIf="showTimeToStart">Hệ Thống Hẹn Giờ</td>
      <td>Thời Gian Tạo</td>
      <td>Trạng Thái</td>
    </tr>
    <tr *ngFor="let job of jobs" app-job-row [intervalUpdate]="false" [job]="job" [showPassword]="showPassword" [showTermId]="true" [showTimeToStart]="showTimeToStart" [showId]="showId"></tr>
  </table>
</div>
<router-outlet></router-outlet>