<div>
  <table>
    <tr>
      <td>_id</td>
      <td>username</td>
      <td (click)="toggleShowPassword()" (dblclick)="null"><span>password</span><span><input type="checkbox" [(ngModel)]="showPassword"></span></td>
      <td>Danh Sách Mã Lớp</td>
      <td>Hẹn Giờ</td>
      <td>Thời Gian Tạo</td>
      <td>Trạng Thái</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let job of jobs" app-dkhptd-job-row [job]="job" [showPassword]="showPassword"></tr>
  </table>
</div>
<div>
  <router-outlet></router-outlet>
</div>