<tr>
  <td *ngIf="showIdColumn">_id</td>
  <td>Mã Lớp</td>
  <td>Mã Lớp Kèm</td>
  <td>Loại Lớp</td>
  <td>Mã Học Phần</td>
  <td>Tên Học Phần</td>
  <td>Buổi Học Số</td>
  <td>Học Vào Thứ</td>
  <td>Thời Gian Học</td>
  <td>Phòng Học</td>
  <td>Học Vào Các Tuần</td>
  <td>Ghi Chú</td>
  <td>Kỳ Học</td>
  <td *ngIf="showCreatedAtColumn">Thời Cập Nhật</td>
</tr>
<tr app-class-to-register-row (click)="onClickClass(c)" [c]="c" [showIdColumn]="showIdColumn" [showCreatedAtColumn]="showCreatedAtColumn" *ngFor="let c of classes"></tr>